body{
    background-color: whitesmoke;
    font-size: 17px;
    font-family: Lato,sans-serif; 
    color: #777;
    line-height: 1.8;
    margin: 10px;
}
a{
    padding: 10px
}
.headings{
    margin : 10px;
}

